doctype html
head
  meta(charset='utf-8')
  title= title + ' | Dawn E Photography - Documentary Photography'
  meta(name='description' content='')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  meta(name="description" content="Documentary family photographer near Madison, WI. Remember the moment, not the session.")
  meta(name="robots" content="index, follow")
  meta(property="og:title" content="Dawn E Photography")
  meta(property="og:image" content="https://www.dawnephotos.com/img/Dawnephotoslogo.png")
  meta(property="og:image:type" content="image/png")
  meta(property="og:image:width" content="500")
  meta(property="og:image:height" content="500")
  meta(property="og:image:alt" content="Dawn E Photography Logo")
  meta(property="og:site_name" content="Dawn E Photography")
  meta(property="og:description" content="Documentary family photographer near Madison, WI. Remember the moment, not the session.")
  meta(property="og:url" content="https://www.dawnephotos.com/")
  meta(property="og:type" content="website")
  link(rel='manifest' href='site.webmanifest')
  link(rel='apple-touch-icon' href='icon.png')
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Niconne&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='/css/styles.css')
  link(rel="preconnect" href="https://fonts.gstatic.com")
  link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Roboto+Slab&display=swap" rel="stylesheet")
  script(src='/js/vendor/spotlight.bundle.js')
  meta(name='theme-color' content='#292929')
  link(rel="canonical" href='https://dawnephotos.com/' + endpoint)
  script(data-goatcounter="https://dawnephotos.goatcounter.com/count" async src="//gc.zgo.at/count.js")
  block header
body
  block body
  footer
    .social-block
      a.social-link(href="https://www.facebook.com/dawnephotography/" target="_blank" rel="noopener noreferrer")
        img.facebook(src="/img/icons/f_logo_RGB-White_72.png")
      a.social-link(href="https://www.instagram.com/dawnephotos/" target="_blank" rel="noopener noreferrer")
        img(src="/img/icons/insta.svg")
      block footer
    p.description Dawn E Photography LLC - Oregon, WI
  block scripts
